**Sales Data Analytics Project - Data Cleaning**

In [3]:
# import pandas library
import pandas as pd

# load data
df_1 = pd.read_csv("data/pbj_q12024.csv", encoding = "ISO-8859-1")
df_2 = pd.read_csv("data/cms_102024.csv")

C:\Users\17134\AppData\Local\Temp\ipykernel_20988\4275421327.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_1 = pd.read_csv("data/pbj_q12024.csv", encoding = "ISO-8859-1")

In [4]:
# making copy of data
df_pbj = df_1.copy()
df_cms = df_2.copy()

In [5]:
# keeping only relevant columns
df_pbj = df_pbj.drop(columns = ["COUNTY_FIPS", "CY_Qtr"])
df_cms = df_cms[["CMS Certification Number (CCN)", "Provider Name", "State", "ZIP Code", 
                 "Ownership Type", "Number of Certified Beds", "Average Number of Residents per Day", 
                 "Provider Resides in Hospital", "Continuing Care Retirement Community", 
                 "Abuse Icon", "Overall Rating", "Health Inspection Rating", "QM Rating", 
                 "Long-Stay QM Rating", "Short-Stay QM Rating", "Staffing Rating", 
                 "Reported Total Nurse Staffing Hours per Resident per Day", 
                 "Total number of nurse staff hours per resident per day on the weekend", 
                 "Total nursing staff turnover", "Total Weighted Health Survey Score", 
                 "Total Number of Penalties", "Latitude", "Longitude"]]

In [6]:
# adding all nursing role hours together but keeping total, employee, and contract hours separate in pbj
df_pbj["tot_nurse_hrs"] = (df_pbj["Hrs_RNDON"] + df_pbj["Hrs_RNadmin"] + df_pbj["Hrs_RN"] + df_pbj["Hrs_LPNadmin"] +
                               df_pbj["Hrs_LPN"] + df_pbj["Hrs_CNA"] + df_pbj["Hrs_NAtrn"] + df_pbj["Hrs_MedAide"])

df_pbj["emp_nurse_hrs"] = (df_pbj["Hrs_RNDON_emp"] + df_pbj["Hrs_RNadmin_emp"] + df_pbj["Hrs_RN_emp"] + 
                           df_pbj["Hrs_LPNadmin_emp"] + df_pbj["Hrs_LPN_emp"] + df_pbj["Hrs_CNA_emp"] + 
                           df_pbj["Hrs_NAtrn_emp"] + df_pbj["Hrs_MedAide_emp"])

df_pbj["contr_nurse_hrs"] = (df_pbj["Hrs_RNDON_ctr"] + df_pbj["Hrs_RNadmin_ctr"] + df_pbj["Hrs_RN_ctr"] + 
                             df_pbj["Hrs_LPNadmin_ctr"] + df_pbj["Hrs_LPN_ctr"] + df_pbj["Hrs_CNA_ctr"] + 
                             df_pbj["Hrs_NAtrn_ctr"] + df_pbj["Hrs_MedAide_ctr"])

In [7]:
# number of employee hours per resident in pbj
df_pbj["tot_nursehrs_perres"] = df_pbj["tot_nurse_hrs"] / df_pbj["MDScensus"]

In [8]:
# dropping now irrelevant columns from pbj
df_pbj = df_pbj.drop(columns = ["Hrs_RNDON", "Hrs_RNadmin", "Hrs_RN", "Hrs_LPNadmin", "Hrs_LPN", "Hrs_CNA", 
                                "Hrs_NAtrn", "Hrs_MedAide", "Hrs_RNDON_emp", "Hrs_RNadmin_emp", "Hrs_RN_emp",
                                "Hrs_LPNadmin_emp", "Hrs_LPN_emp", "Hrs_CNA_emp", "Hrs_NAtrn_emp", "Hrs_MedAide_emp", 
                                "Hrs_RNDON_ctr", "Hrs_RNadmin_ctr", "Hrs_RN_ctr", "Hrs_LPNadmin_ctr", "Hrs_LPN_ctr", 
                                "Hrs_CNA_ctr", "Hrs_NAtrn_ctr", "Hrs_MedAide_ctr"])

In [9]:
# renaming columns in both datasets
replace_pbj = {"ï»¿PROVNUM": "pbj_id", "PROVNAME": "name", "CITY": "city", "STATE": "state", "COUNTY_NAME": "county", 
               "WorkDate": "date", "MDScensus": "num_residents"}
df_pbj = df_pbj.rename(columns = replace_pbj)


replace_cms = {"CMS Certification Number (CCN)": "cms_id", "Provider Name": "name", "State": "state", "ZIP Code": "zipcode", 
               "Ownership Type": "type", "Number of Certified Beds": "num_beds", 
               "Average Number of Residents per Day": "avg_residents_per_day", "Provider Resides in Hospital": "in_hospital", 
               "Continuing Care Retirement Community": "retirement_community", "Abuse Icon": "abuse_citation", 
               "Overall Rating": "overall_rating", "Health Inspection Rating": "health_rating", "QM Rating": "quality_rating", 
               "Long-Stay QM Rating": "long_stay_qrating", "Short-Stay QM Rating": "short_stay_qrating", 
               "Staffing Rating": "staff_rating", 
               "Reported Total Nurse Staffing Hours per Resident per Day": "nursehrs_perres_perday", 
               "Total number of nurse staff hours per resident per day on the weekend": "nursehrs_perres_perweekend", 
               "Total nursing staff turnover": "nurse_turnover", "Total Weighted Health Survey Score": "weighted_health_score", 
               "Total Number of Penalties": "penalties", "Latitude": "latitude", "Longitude": "longitude"}
df_cms = df_cms.rename(columns = replace_cms)

In [10]:
# make city in pbj title case
df_pbj["city"] = df_pbj["city"].str.capitalize()

# put full state names in pbj & cms
replace_state = {'AL':'Alabama', 'AK':'Alaska', 'AZ':'Arizona', 'AR':'Arkansas', 'CA':'California', 'CO':'Colorado', 'CT':'Connecticut', 'DE':'Delaware', 'DC':'District of Columbia',
                  'FL':'Florida', 'GA':'Georgia', 'HI':'Hawaii', 'ID':'Idaho', 'IL':'Illinois', 'IN':'Indiana', 'IA':'Iowa', 'KS':'Kansas', 'KY':'Kentucky', 'LA':'Louisiana',
                  'ME':'Maine', 'MD':'Maryland', 'MA':'Massachusetts', 'MI':'Michigan', 'MN':'Minnesota', 'MS':'Mississippi', 'MO':'Missouri', 'MT':'Montana', 'NE':'Nebraska',
                  'NV':'Nevada', 'NH':'New Hampshire', 'NJ':'New Jersey', 'NM':'New Mexico', 'NY':'New York', 'NC':'North Carolina', 'ND':'North Dakota', 'OH':'Ohio', 'OK':'Oklahoma',
                  'OR':'Oregon', 'PA':'Pennsylvania', 'RI':'Rhode Island', 'SC':'South Carolina', 'SD':'South Dakota', 'TN':'Tennessee', 'TX':'Texas', 'UT':'Utah', 'VT':'Vermont',
                  'VA':'Virginia', 'WA':'Washington', 'WV':'West Virginia', 'WI':'Wisconsin', 'WY':'Wyoming', 'AS': 'American Samoa', 'FM':'Federated States of Micronesia', 'GU':'Guam',
                  'MH':'Marshall Islands', 'MP':'Northern Marianas', 'PW':'Palau', 'PR':'Puerto Rico', 'VI':'Virgin Islands'}
df_pbj["state"].replace(replace_state, inplace = True)
df_cms["state"].replace(replace_state, inplace = True)

In [11]:
# checking data types & missing data in pbj
df_pbj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330966 entries, 0 to 1330965
Data columns (total 11 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   pbj_id               1330966 non-null  object
 1   name                 1330966 non-null  object
 2   city                 1330966 non-null  object
 3   state                1330966 non-null  object
 4   county               1330966 non-null  object
 5   date                 1330966 non-null  int64
 6   num_residents        1330966 non-null  int64
 7   tot_nurse_hrs        1330966 non-null  float64
 8   emp_nurse_hrs        1330966 non-null  float64
 9   contr_nurse_hrs      1330966 non-null  float64
 10  tot_nursehrs_perres  1330818 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 111.7+ MB

In [12]:
# removing days facilities didn't have residents in pbj
# doesn't make sense for my analyses + business goals + division by 0
rows_no_residents = (df_pbj["num_residents"] == 0).sum()
print(rows_no_residents)
df_pbj = df_pbj[df_pbj["num_residents"] != 0]

402

In [13]:
# checking that data in pbj makes sense
df_pbj.describe()

,date,num_residents,tot_nurse_hrs,emp_nurse_hrs,contr_nurse_hrs,tot_nursehrs_perres
count,1.330564e+06,1.330564e+06,1.330564e+06,1.330564e+06,1.330564e+06,1.330564e+06
mean,2.024022e+07,8.344725e+01,3.067937e+02,2.836787e+02,2.311499e+01,3.806325e+00
std,8.300655e+01,4.912370e+01,1.855535e+02,1.712684e+02,5.096888e+01,1.220928e+00
min,2.024010e+07,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.024012e+07,5.100000e+01,1.837500e+02,1.685600e+02,0.000000e+00,3.172778e+00
50%,2.024022e+07,7.600000e+01,2.712400e+02,2.512000e+02,0.000000e+00,3.649157e+00
75%,2.024031e+07,1.040000e+02,3.813900e+02,3.575000e+02,2.449000e+01,4.229167e+00
max,2.024033e+07,7.430000e+02,2.671330e+03,2.443730e+03,1.185500e+03,3.803500e+02

In [14]:
# checking that pbj dataframe/dataset looks good
df_pbj.head()

,pbj_id,name,city,state,county,date,num_residents,tot_nurse_hrs,emp_nurse_hrs,contr_nurse_hrs,tot_nursehrs_perres
0,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240101,50,230.57,230.57,0.0,4.611400
1,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240102,49,257.49,257.49,0.0,5.254898
2,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240103,49,245.97,245.97,0.0,5.019796
3,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240104,50,234.94,234.94,0.0,4.698800
4,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240105,51,247.07,247.07,0.0,4.844510

In [15]:
# checking data types & missing data in cms
df_cms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14814 entries, 0 to 14813
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cms_id                      14814 non-null  object
 1   name                        14814 non-null  object
 2   state                       14814 non-null  object
 3   zipcode                     14814 non-null  int64
 4   type                        14814 non-null  object
 5   num_beds                    14814 non-null  int64
 6   avg_residents_per_day       14766 non-null  float64
 7   in_hospital                 14814 non-null  object
 8   retirement_community        14814 non-null  object
 9   abuse_citation              14814 non-null  object
 10  overall_rating              14671 non-null  float64
 11  health_rating               14671 non-null  float64
 12  quality_rating              14556 non-null  float64
 13  long_stay_qrating           14216 non-null  float64
 14  short_stay_qrating          12135 non-null  float64
 15  staff_rating                14613 non-null  float64
 16  nursehrs_perres_perday      14428 non-null  float64
 17  nursehrs_perres_perweekend  14428 non-null  float64
 18  nurse_turnover              13341 non-null  float64
 19  weighted_health_score       14758 non-null  float64
 20  penalties                   14814 non-null  int64
 21  latitude                    14814 non-null  float64
 22  longitude                   14814 non-null  float64
dtypes: float64(13), int64(3), object(7)
memory usage: 2.6+ MB

In [16]:
# dropping more irrelevant variables, esp with high missingness in cms
df_cms = df_cms.drop(columns = ["long_stay_qrating", "short_stay_qrating", "nurse_turnover"])

In [17]:
# importing numpy
import numpy as np

# making some string variables numeric in cms
dummy_code = {"Y": 1, "N": 0}
df_cms["in_hospital"].replace(dummy_code, inplace = True)
df_cms["retirement_community"].replace(dummy_code, inplace = True)
df_cms["abuse_citation"].replace(dummy_code, inplace = True)

In [18]:
# checking that data in cms makes sense
df_cms.describe()

,zipcode,num_beds,avg_residents_per_day,in_hospital,retirement_community,abuse_citation,overall_rating,health_rating,quality_rating,staff_rating,nursehrs_perres_perday,nursehrs_perres_perweekend,weighted_health_score,penalties,latitude,longitude
count,14814.000000,14814.000000,14766.000000,14814.000000,14814.000000,14814.000000,14671.000000,14671.000000,14556.000000,14613.000000,14428.000000,14428.000000,14758.000000,14814.000000,14814.000000,14814.000000
mean,50345.684623,106.823073,82.957050,0.033279,0.106791,0.094303,2.846841,2.782632,3.406705,2.717649,3.837369,3.353147,77.495620,1.924193,38.008781,-90.598286
std,26872.516801,59.255881,49.035132,0.179371,0.308858,0.292259,1.432100,1.276654,1.290515,1.275574,0.955322,0.860815,83.748143,3.577270,4.935667,14.323463
min,660.000000,4.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.003500,0.002510,0.000000,0.000000,13.488600,-165.200000
25%,29732.000000,66.000000,50.200000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,3.290808,2.862907,26.000000,0.000000,34.190050,-96.616500
50%,48601.500000,100.000000,75.600000,0.000000,0.000000,0.000000,3.000000,3.000000,4.000000,3.000000,3.663260,3.204710,51.333000,1.000000,39.049700,-87.733000
75%,73044.750000,127.000000,103.975000,0.000000,0.000000,0.000000,4.000000,4.000000,5.000000,4.000000,4.156067,3.666690,97.333000,2.000000,41.507275,-80.915250
max,99929.000000,843.000000,732.300000,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,5.000000,17.538820,16.026060,1533.000000,89.000000,66.895300,144.797000

In [19]:
# checking that cms dataframe/dataset looks good
df_cms.head()

,cms_id,name,state,zipcode,type,num_beds,avg_residents_per_day,in_hospital,retirement_community,abuse_citation,overall_rating,health_rating,quality_rating,staff_rating,nursehrs_perres_perday,nursehrs_perres_perweekend,weighted_health_score,penalties,latitude,longitude
0,15009,"BURNS NURSING HOME, INC.",Alabama,35653,For profit - Corporation,57,53.3,0,0,0,2.0,2.0,4.0,4.0,4.29361,3.30871,31.333,1,34.5149,-87.736
1,15010,COOSA VALLEY HEALTHCARE CENTER,Alabama,35150,For profit - Corporation,85,77.5,0,0,0,4.0,4.0,3.0,3.0,4.31127,3.37481,6.667,0,33.1637,-86.254
2,15012,HIGHLANDS HEALTH AND REHAB,Alabama,35768,Government - County,50,44.4,0,0,0,4.0,4.0,2.0,3.0,4.98828,4.30958,13.333,0,34.6611,-86.047
3,15014,EASTVIEW REHABILITATION & HEALTHCARE CENTER,Alabama,35206,For profit - Individual,92,72.8,0,0,0,2.0,3.0,2.0,1.0,3.29976,2.82980,22.667,0,33.5595,-86.722
4,15015,PLANTATION MANOR NURSING HOME,Alabama,35111,For profit - Individual,103,91.8,0,0,0,2.0,2.0,2.0,4.0,3.28113,3.19540,26.667,0,33.3221,-87.034

In [20]:
# showing correlations between ratings and nursing hours variables in cms
df_cms[["overall_rating", "health_rating", "quality_rating", "staff_rating", 
        "nursehrs_perres_perday", "nursehrs_perres_perweekend"]].corr()

,overall_rating,health_rating,quality_rating,staff_rating,nursehrs_perres_perday,nursehrs_perres_perweekend
overall_rating,1.000000,0.886786,0.461813,0.500338,0.363611,0.356195
health_rating,0.886786,1.000000,0.210918,0.316028,0.272083,0.260790
quality_rating,0.461813,0.210918,1.000000,0.144281,0.144647,0.162151
staff_rating,0.500338,0.316028,0.144281,1.000000,0.579079,0.565215
nursehrs_perres_perday,0.363611,0.272083,0.144647,0.579079,1.000000,0.973916
nursehrs_perres_perweekend,0.356195,0.260790,0.162151,0.565215,0.973916,1.000000

In [21]:
# loading cms_avgs data
df_3 = pd.read_csv("data/cms_avgs_102024.csv")

In [22]:
# making copy of data in cms_avgs
df_cms_avgs = df_3.copy()

In [23]:
# getting just the first row of data from the cms_avgs data
df_cms_avgs.head(1)

,State or Nation,Average Number of Residents per Day,Reported Total Nurse Staffing Hours per Resident per Day,Total number of nurse staff hours per resident per day on the weekend,Total nursing staff turnover
0,NATION,83.0,3.83737,3.35315,48.8

In [24]:
# deleting first row of data in cms_avgs
df_cms_avgs.drop(0, inplace = True)

# renaming columns in cms_avgs
replace_cms_avgs = {"State or Nation": "state", "Average Number of Residents per Day": "savg_num_residents", 
                    "Reported Total Nurse Staffing Hours per Resident per Day": "savg_nursehrs_perres_day", 
                    "Total number of nurse staff hours per resident per day on the weekend": "savg_nursehrs_perres_weekend", 
                    "Total nursing staff turnover": "savg_nurse_turnover"}
df_cms_avgs = df_cms_avgs.rename(columns = replace_cms_avgs)


# put full state names in cms_avgs
df_cms_avgs["state"].replace(replace_state, inplace = True)

In [25]:
# merging cms_avgs to cms and pbj 
merged_cms = pd.merge(df_cms, df_cms_avgs, on = "state", how = "left")
merged_pbj = pd.merge(df_pbj, df_cms_avgs, on = "state", how = "left")

In [26]:
# checking new merged_cms dataset
merged_cms.head(10)

,cms_id,name,state,zipcode,type,num_beds,avg_residents_per_day,in_hospital,retirement_community,abuse_citation,...,nursehrs_perres_perday,nursehrs_perres_perweekend,weighted_health_score,penalties,latitude,longitude,savg_num_residents,savg_nursehrs_perres_day,savg_nursehrs_perres_weekend,savg_nurse_turnover
0,15009,"BURNS NURSING HOME, INC.",Alabama,35653,For profit - Corporation,57,53.3,0,0,0,...,4.29361,3.30871,31.333,1,34.5149,-87.736,95.7,3.86755,3.19727,49.1
1,15010,COOSA VALLEY HEALTHCARE CENTER,Alabama,35150,For profit - Corporation,85,77.5,0,0,0,...,4.31127,3.37481,6.667,0,33.1637,-86.254,95.7,3.86755,3.19727,49.1
2,15012,HIGHLANDS HEALTH AND REHAB,Alabama,35768,Government - County,50,44.4,0,0,0,...,4.98828,4.30958,13.333,0,34.6611,-86.047,95.7,3.86755,3.19727,49.1
3,15014,EASTVIEW REHABILITATION & HEALTHCARE CENTER,Alabama,35206,For profit - Individual,92,72.8,0,0,0,...,3.29976,2.82980,22.667,0,33.5595,-86.722,95.7,3.86755,3.19727,49.1
4,15015,PLANTATION MANOR NURSING HOME,Alabama,35111,For profit - Individual,103,91.8,0,0,0,...,3.28113,3.19540,26.667,0,33.3221,-87.034,95.7,3.86755,3.19727,49.1
5,15016,ATHENS HEALTH AND REHABILITATION LLC,Alabama,35611,For profit - Corporation,149,128.3,0,0,0,...,4.34344,3.60998,10.667,0,34.8035,-86.977,95.7,3.86755,3.19727,49.1
6,15019,MERRY WOOD LODGE,Alabama,36025,For profit - Corporation,124,98.5,0,0,0,...,3.11658,2.77381,24.000,0,32.5570,-86.323,95.7,3.86755,3.19727,49.1
7,15023,HATLEY HEALTH CARE INC,Alabama,35045,For profit - Corporation,201,87.4,0,0,0,...,3.28657,2.81842,6.000,0,32.8548,-86.625,95.7,3.86755,3.19727,49.1
8,15024,"LIMESTONE NURSING AND REHABILITATION CENTER, LLC",Alabama,35611,For profit - Corporation,170,134.6,0,0,0,...,3.45490,2.77838,24.000,0,34.8053,-86.991,95.7,3.86755,3.19727,49.1
9,15027,"WETUMPKA HEALTH AND REHABILITATION, LLC",Alabama,36092,For profit - Corporation,121,114.4,0,0,0,...,3.84035,3.18619,59.333,0,32.5592,-86.222,95.7,3.86755,3.19727,49.1

In [27]:
# checking new merged_pbj dataset
merged_pbj.head(10)

,pbj_id,name,city,state,county,date,num_residents,tot_nurse_hrs,emp_nurse_hrs,contr_nurse_hrs,tot_nursehrs_perres,savg_num_residents,savg_nursehrs_perres_day,savg_nursehrs_perres_weekend,savg_nurse_turnover
0,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240101,50,230.57,230.57,0.0,4.611400,95.7,3.86755,3.19727,49.1
1,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240102,49,257.49,257.49,0.0,5.254898,95.7,3.86755,3.19727,49.1
2,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240103,49,245.97,245.97,0.0,5.019796,95.7,3.86755,3.19727,49.1
3,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240104,50,234.94,234.94,0.0,4.698800,95.7,3.86755,3.19727,49.1
4,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240105,51,247.07,247.07,0.0,4.844510,95.7,3.86755,3.19727,49.1
5,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240106,51,184.13,184.13,0.0,3.610392,95.7,3.86755,3.19727,49.1
6,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240107,51,178.76,178.76,0.0,3.505098,95.7,3.86755,3.19727,49.1
7,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240108,52,260.60,260.60,0.0,5.011538,95.7,3.86755,3.19727,49.1
8,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240109,52,236.13,236.13,0.0,4.540962,95.7,3.86755,3.19727,49.1
9,15009,"BURNS NURSING HOME, INC.",Russellville,Alabama,Franklin,20240110,50,234.27,234.27,0.0,4.685400,95.7,3.86755,3.19727,49.1

In [28]:
# saving merged_pbj & merged_cms csvs
merged_pbj.to_csv("data/pbj_sql.csv", index =  False)
merged_cms.to_csv("data/cms_sql.csv", index = False)